@charset "UTF-8";
#top, #nav, #banner, .zx-block1, .zx-block, .zx-ad-banner, #footer { width: 1260px; margin: 0 auto; }
/*top版块*/
#top { height: 40px; background: #f8f8f8; }
/*top左侧版块*/
#top .ul1 { width: 150px; height: 40px; margin-left: 10px; float: left; }
#top .ul1 li { float: left; font-size: 12px; line-height: 40px; margin-right: 20px; }
#top .ul1 li a { color: #787878; }
#top .ul1 li a:hover { color: #000000; }
/*top右侧版块*/
#top .ul2 { width: 170px; height: 40px; float: right; }
#top .ul2 li { float: left; font-size: 12px; line-height: 40px; height: 40px; margin-right: 20px; }
#top .ul2 li a { color: #787878; }
#top .ul2 li a:hover { color: #000000; }
#top .ul2 li .gwc { display: block; height: 40px; background: url(../img/shopcart.png) no-repeat left 7px; padding-left: 20px; }
/*nav版块*/
#nav { height: 60px; padding-top: 25px;}
#nav .logo { width: 200px; height: 31px; float: left; margin-left:20px}
#nav ul { float: left; margin-left: 200px; }
#nav ul li { float: left; margin-right: 30px; height: 35px; line-height: 35px; font-size: 14px; }
#nav ul li a { color: #787878; }
#nav ul li .aa:hover { color: dodgerblue; }
#nav .search { width: 260px; height: 32px; border: 1px solid #b8b8b8; float: left; background: #ffffff; margin-left:20px;}
#nav .nav_txt { border: 0; height: 32px; width: 210px; float: left; outline: none; }
#nav .nav_btn { background: url(../img/Search.png) no-repeat 11px 5px; width: 44px; height: 32px; border: 0; float: left; outline: none; }
/*隐藏*/
.box{position: absolute;width:1220px;height:228px;display:none;background:#fff;z-index:1;left:22px;}
#nav .box ul{margin-left:0;text-align:center;}
#nav .box ul li{width:205px;height:228px;margin-right:0;}
#nav .box ul li .nav-img{border-right:1px solid #ccc;width:204px;height:140px;margin-top:20px}
#nav .box ul li .nav-img img{max-width:100%;max-height:100%;vertical-align:middle;margin-left: 30px;}
#nav .box ul li h5{height:14px;line-height: 14px;font-size:14px;margin-top:10px;}
#nav .box ul li h6{font-size:12px;color:#EA681A;margin-top:10px;}
#nav .box ul li:nth-child(3) .nav-img{border:0}

/*内容区:未买商品时*/
#sontainer{padding:120px 0;}
#sontainer .blankcart{width:960px;margin:0 auto;height:100px;}
#sontainer .blankcart .cartimg{width:400px;float:left;}
#sontainer .blankcart .cartimg img{margin-left:276px;}
#sontainer .blankcart .carttext{width:25%;float:left;padding:0 15px;height:100%;}
#sontainer .blankcart .carttext h3{font-size:22px;margin-top:20px;margin-bottom:10px;}
#sontainer .blankcart .carttext p{font-size:16px;}
#sontainer .blankcart .cartbtn{width:30%;float:left;height:100%;text-align:center;}
#sontainer .blankcart .cartbtn a{margin:30px 0 15px ;display:block;color:#fff;height: 36px;background-color: #fc6822;line-height: 36px;width: 110px;border-radius: 2px;font-size: 12px;}
