@charset "UTF-8";
#top, #nav, #banner, .zx-block1, .zx-block, .zx-ad-banner, #footer { width: 1260px; margin: 0 auto; }
/*top版块*/
#top { height: 40px; background: #f8f8f8; }
/*top左侧版块*/
#top .ul1 { width: 150px; height: 40px; margin-left: 10px; float: left; }
#top .ul1 li { float: left; font-size: 12px; line-height: 40px; margin-right: 20px; }
#top .ul1 li a { color: #787878; }
#top .ul1 li a:hover { color: #000000; }
/*top右侧版块*/
#top .ul2 { width: 230px; height: 40px; float: right; }
#top .ul2 li { float: left; font-size: 12px; line-height: 40px; height: 40px; margin-right: 20px; }

#top .ul2 .is-login{display:none;}
#top .ul2 .is-login .caret{display: inline-block;width: 1px; height:2px;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.dropdown-menu{display:none;position: absolute;top:40px;z-index: 1000;float: left; max-width: 130px;padding: 5px 0;margin: 2px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,.15);border-radius: 2px;box-shadow: 0 6px 12px}
.dropdown-menu:hover{color:#333;}
.dropdown-menu li{text-align: center;width: 120px;display: block !important;height:40px;line-height: 40px;}
#top .ul2 li a { color: #787878; }
#top .ul2 li a:hover { color: #000000; }
#top .ul2 li .gwc {position: relative; display: block; height: 40px; background: url(../img/shopcart.png) no-repeat left 7px; padding-left: 20px; }
#top .ul2 li .gwc .cartcount{display: inline-block;position: absolute;line-height: 15px;top: 2px;left: 57px;width: 15px;height: 15px;border-radius: 15px;background-color: #DEFFAC;}
/*top购物车版块*/
/*没有商品时*/
#top .ul2 li .shopcart-null{background:#fff;cursor:pointer;display:none;position:absolute;top:39px;right: -1px;width: 312px;height:58px;line-height: 58px;text-align: center;border: 1px solid #EDEDED;z-index: 8;margin-top: -1px;border-radius: 2px;border-top-right-radius: 0;}
#top .ul2 li .shopcart-null .remind{line-height: 58px;text-align: center;font-size:14px;}
#top .ul2 li .shopcart-null .remind img{display:inline-block;position: absolute;top:20px;}
/*添加商品后*/
#top .ul2 li .shopcart-full{display:none;height:104px;cursor:pointer;position:absolute;top:39px;right: -1px;width: 312px;line-height: 58px;text-align: center;z-index: 8;margin-top: -1px;border-radius: 2px;border-top-right-radius: 0;}
#top .ul2 li .shopcart-full .fulllist li{height:96px;background:#fff;width:310px;}
#top .ul2 li .shopcart-full .fulllist li a{float:left;}
#top .ul2 li .shopcart-full .fulllist li .shopprice{float:left;}
#top .ul2 li .shopcart-full .fulllist li .shopfull{border-bottom:1px solid #eee;}
#top .ul2 li .shopcart-full .fulllist li .shopfullimg{width: 52px;height: 52px;margin-left: 16px;display: inline-block;float: left;margin-top: 12px;border: 1px solid #e6e6e6;}
#top .ul2 li .shopcart-full .fulllist li .shopfullimg img{width:100%;height:100%}
#top .ul2 li .shopcart-full .fulllist li .shopfullname{line-height:normal;color: #787878;font-size: 12px;display: inline-block;float: left;margin-left: 14px; width: 92px;height: 52px;overflow: hidden;margin-top: 12px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice{margin-top: 12px;display: inline-block;float: right;margin-right: 16px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice span{color: #000;line-height:40px;font-size:14px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice .shopfullrem{margin-top: 10px;text-align: right;height:40px;line-height:40px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice .shopfullrem a{padding: 0 10px;font-size:12px;color: #787878;margin-top:10px;margin-left:10px;line-height: normal;display: inline-block;}
/*内容区*/
#container{width: 100%;height:357px;background-color: #f5f5f5;padding-top: 42px;display:block;}
#container .addtocart{width:1230px;margin: auto;height:280px;background:#fff;margin-bottom: 77px;}
.message{width:330px;float:left;margin-top:60px;margin-left:20px;}
.goodimg{display: inline-block;float:left;width:100px;height: 180px;}
.goodimg img{width:100px;height:100px;}
.detail{float: left;margin-top: 15px;color: #454640;margin-left: 10px;width: 220px;}
.detail h6{font-size:12px;margin-bottom: 10px;}
.detail span{font-size:14px;}
.success{width:311px;height:91px;margin-left: 100px;margin-top: 75px;float: left;}
.success .sucimg{width:52px;height:52px;margin-top:20px;margin-right:15px;float:left;}
.success .sucimg img{width:100%;height:100%}
.success .sucadd{float:left;font-size:24px;width:244px;height:52px;margin-top:20px;color:#0088d1;}
.success .sucadd .sucspan{font-size:14px;width:244px;height:14px;display:block;color:#787878}
.success .sucadd .sucspan strong{font-size:14px;color:#fc6628}
.handel{float:left;margin-top: 100px;margin-left: 85px;}
.handel a{margin-right: 14px;width: 124px;height: 40px;border-radius:2px;font-size:14px;line-height: 40px;padding: 0;float:left;display:block;text-align:center;}
.handel .default{color: #333;background-color: #fff;border:1px solid #ccc;}
.handel .danger{background-color: #fc6628;border: none;color:#fff;}
/*内容区:未买商品时*/
#sontainer{padding:120px 0;display:none;}
#sontainer .blankcart{width:960px;margin:0 auto;height:100px;}
#sontainer .blankcart .cartimg{width:400px;float:left;}
#sontainer .blankcart .cartimg img{margin-left:276px;}
#sontainer .blankcart .carttext{width:25%;float:left;padding:0 15px;height:100%;}
#sontainer .blankcart .carttext h3{font-size:22px;margin-top:20px;margin-bottom:10px;}
#sontainer .blankcart .carttext p{font-size:16px;}
#sontainer .blankcart .cartbtn{width:30%;float:left;height:100%;text-align:center;}
#sontainer .blankcart .cartbtn a{margin:30px 0 15px ;display:block;color:#fff;height: 36px;background-color: #fc6822;line-height: 36px;width: 110px;border-radius: 2px;font-size: 12px;}
