@charset "UTF-8";
#top,#main{width:1262px;margin:0 auto;}
#top{height:40px;}
/*top左侧版块*/
#top .ul1 { width: 322px; height: 40px; margin-left: 10px; float: left; }
#top .ul1 li { float: left; font-size: 12px; line-height: 40px; margin-right: 20px; }
#top .ul1 li a { color: #787878; }
#top .ul1 li a:hover { color: #000000; }
/*top右侧版块*/
#top .ul2 { width: 88px; height: 40px; float: right; }
#top .ul2 li { float: left; font-size: 12px; line-height: 40px; height: 40px; margin-right: 20px; }
#top .ul2 li a { color: #787878; }
#top .ul2 li a:hover { color: #000000; }

/*内容区*/
#main{height:524px;}
.main{width:935px;margin:auto;height:444px;padding-bottom:80px;}
.main .guanggao{height:334px;width:370px;float:left;margin-top:80px;padding-right:80px;border-right:1px solid #CCCCCC;}
.main .guanggao img{width:334px;height:334px;}
.panel{width:332px;height:415px;float:left;margin:40px 0 0 80px;}
.panel .panel-head{text-align:center;font-size:24px;margin-bottom:20px;width:332px;}
.panel .panel-body{width:332px;height:361px;}
.panel form{width:332px;height:361px;}
.panel form .shuru{margin-bottom:12px;position:relative;}
.panel form input{width:308px;height:26px;border-radius:2px;border:1px solid #ccc;padding:6px 12px;font-size:14px;}
.panel form .yz{width:308px;float:left;}
.panel form .yz-img{position: absolute;right:20px;top:10px;width:80px;height:20px;}
.panel form .btn-yz{float:right;width:83px;font-size:12px;color:#767676;border:0;background:#fff;height:34px;padding:7px 10px;}
.panel form .btn-yz:hover{color:#000;cursor:pointer;}
.panel form #yz{height:40px;margin-top:12px;}
.panel form #sub{cursor:pointer;width:332px;background:#0186d1;color:#fff;border:0;font-size:14px;line-height:40px;height:40px;}
.panel form #sub:hover{background-color:#177DCC;}

.formbot{width:332px;height:71px;}
.formbot .fengexian{margin-top:20px;font-size:14px;line-height:20px;height:20px;}
.formbot .fengexian img{float:left;margin-top:10px;}
.formbot .fengexian img:nth-child(1){margin-left:10px;}
.formbot .fengexian span{float:left;}
.formbot .lianxi{width:207px;margin-top:15px;margin-bottom:20px;height:36px;padding-left:85px;}
.formbot .lianxi li{float:left;width:36px;height:36px;padding:0 5px;margin-right:12px;}
.formbot .lianxi li a{width:36px;height:36px;}
.formbot .lianxi li a img{width:100%;height:100%}
.group{font-size: 14px;width:332px;text-align:center;margin-top:10px}
.group .zc{color:#177DCC;margin-right:22px;}
.group .wj{color:#767676}
.group .wj:hover{color:#333}
.pduan{width:332px;height:52px;background: pink;border-radius:2px;border:1px solid palevioletred;opacity:0;font-size:14px;line-height:52px;text-align:center;color:darkred;}
