@charset "UTF-8";
#top, #nav, #banner, .zx-block1, .zx-block, .zx-ad-banner, #footer { width: 1260px; margin: 0 auto; }
/*top版块*/
#top { height: 40px; background: #f8f8f8; }
/*top左侧版块*/
#top .ul1 { width: 150px; height: 40px; margin-left: 10px; float: left; }
#top .ul1 li { float: left; font-size: 12px; line-height: 40px; margin-right: 20px; }
#top .ul1 li a { color: #787878; }
#top .ul1 li a:hover { color: #000000; }
/*top右侧版块*/
#top .ul2 { width: 230px; height: 40px; float: right; }
#top .ul2 li { float: left; font-size: 12px; line-height: 40px; height: 40px; margin-right: 20px; }

#top .ul2 .is-login{display:none;}
#top .ul2 .is-login .caret{display: inline-block;width: 1px; height:2px;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.dropdown-menu{display:none;position: absolute;top:40px;z-index: 1000;float: left; max-width: 130px;padding: 5px 0;margin: 2px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,.15);border-radius: 2px;box-shadow: 0 6px 12px}
.dropdown-menu:hover{color:#333;}
.dropdown-menu li{text-align: center;width: 120px;display: block !important;height:40px;line-height: 40px;}
#top .ul2 li a { color: #787878; }
#top .ul2 li a:hover { color: #000000; }
#top .ul2 li .gwc {position: relative; display: block; height: 40px; background: url(../img/shopcart.png) no-repeat left 7px; padding-left: 20px; }
#top .ul2 li .gwc .cartcount{display: inline-block;position: absolute;line-height: 15px;top: 2px;left: 57px;width: 15px;height: 15px;border-radius: 15px;background-color: #DEFFAC;}
/*top购物车版块*/
/*没有商品时*/
#top .ul2 li .shopcart-null{background:#fff;cursor:pointer;display:none;position:absolute;top:39px;right: -1px;width: 312px;height:58px;line-height: 58px;text-align: center;border: 1px solid #EDEDED;z-index: 8;margin-top: -1px;border-radius: 2px;border-top-right-radius: 0;}
#top .ul2 li .shopcart-null .remind{line-height: 58px;text-align: center;font-size:14px;}
#top .ul2 li .shopcart-null .remind img{display:inline-block;position: absolute;top:20px;}
/*添加商品后*/
#top .ul2 li .shopcart-full{display:none;height:104px;cursor:pointer;position:absolute;top:39px;right: -1px;width: 312px;line-height: 58px;text-align: center;z-index: 8;margin-top: -1px;border-radius: 2px;border-top-right-radius: 0;}
#top .ul2 li .shopcart-full .fulllist li{height:96px;background:#fff;width:310px;}
#top .ul2 li .shopcart-full .fulllist li a{float:left;}
#top .ul2 li .shopcart-full .fulllist li .shopprice{float:left;}
#top .ul2 li .shopcart-full .fulllist li .shopfull{border-bottom:1px solid #eee;}
#top .ul2 li .shopcart-full .fulllist li .shopfullimg{width: 52px;height: 52px;margin-left: 16px;display: inline-block;float: left;margin-top: 12px;border: 1px solid #e6e6e6;}
#top .ul2 li .shopcart-full .fulllist li .shopfullimg img{width:100%;height:100%}
#top .ul2 li .shopcart-full .fulllist li .shopfullname{line-height:normal;color: #787878;font-size: 12px;display: inline-block;float: left;margin-left: 14px; width: 92px;height: 52px;overflow: hidden;margin-top: 12px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice{margin-top: 12px;display: inline-block;float: right;margin-right: 16px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice span{color: #000;line-height:40px;font-size:14px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice .shopfullrem{margin-top: 10px;text-align: right;height:40px;line-height:40px;}
#top .ul2 li .shopcart-full .fulllist li .shopprice .shopfullrem a{padding: 0 10px;font-size:12px;color: #787878;margin-top:10px;margin-left:10px;line-height: normal;display: inline-block;}
/*nav版块*/
#nav { height: 60px; padding-top: 25px;}
#nav .logo { width: 200px; height: 31px; float: left; margin-left:20px}
#nav ul { float: left; margin-left: 200px; }
#nav ul li { float: left; margin-right: 30px; height: 35px; line-height: 35px; font-size: 14px; }
#nav ul li a { color: #787878; }
#nav ul li .aa:hover { color: dodgerblue; }
#nav .search { width: 260px; height: 32px; border: 1px solid #b8b8b8; float: left; background: #ffffff; margin-left:20px;}
#nav .nav_txt { border: 0; height: 32px; width: 210px; float: left; outline: none; }
#nav .nav_btn { background: url(../img/Search.png) no-repeat 11px 5px; width: 44px; height: 32px; border: 0; float: left; outline: none; }
/*隐藏*/
.box{position: absolute;width:1220px;height:228px;display:none;background:#fff;z-index:1;left:22px;}
#nav .box ul{margin-left:0;text-align:center;}
#nav .box ul li{width:205px;height:228px;margin-right:0;}
#nav .box ul li .nav-img{border-right:1px solid #ccc;width:204px;height:140px;margin-top:20px}
#nav .box ul li .nav-img img{max-width:100%;max-height:100%;vertical-align:middle;margin-left: 30px;}
#nav .box ul li h5{height:14px;line-height: 14px;font-size:14px;margin-top:10px;}
#nav .box ul li h6{font-size:12px;color:#EA681A;margin-top:10px;}
#nav .box ul li:nth-child(3) .nav-img{border:0}
/*bread版块*/
#bread{height:36px;width:1230px;margin:auto;background:#F5F5F5;}
#bread ol{margin-left:15px;}
#bread ol li{float:left;font-size:14px;line-height:36px;color:#767676;}
#bread ol li+li:before{padding:0 5px;color:#ccc;content:"/";}
#bread ol li a{color:#767676;}
#bread ol li a:hover{color:#333;}
/*详情版块*/
#goods-block{width:1230px;margin:auto;height:521px;padding-bottom:80px;}
/*左侧图片版块*/
.img-block{width:550px;height:506px;float:left;}
.img-slide{width:400px;height:400px;margin-left:45px;overflow:hidden;position:relative;}
.img-slide img{width:100%;height:100%;}
.pic-slide{width:490px;margin-top:36px;height:70px;position:relative;}
.prev{width:20px;height:40px;line-height:40px;top:15px;left:10px;position:absolute;}
.next{width:20px;height:40px;line-height:40px;top:15px;right:10px;position:absolute;}
.pic-list{margin:0 auto;width:430px;height:72px;overflow:hidden;}
.prev img{margin:10px 0 0 5px;}
.next img{margin:10px 5px 0 0;}
.pic-list ul{width:1000px;height:100%;overflow:hidden;}
.pic-list ul li{padding:0 8px;float:left;display:block;}
.pic-list ul li img{width:70px;height:70px;border:1px solid #E0E0E0}
/*放大镜图片版块*/
.bigimg{width:400px;height:400px;position:absolute;left:63px;top:161px;z-index:10;overflow:hidden;}
#goods-block .bigimg img{position:absolute;top:0;left:0;width:800px;height:800px}
.zzc{width:200px;height:200px;position:absolute;left:0;top:0;opacity:.3;display:none;}
/*右侧信息版块*/
.all-block{width:615px;height:364px;float:left;position:relative;}
.all-block h2{font-size:24px;margin-top:26px;margin-bottom:10px;}
.all-block small{font-size:65%;color:#777}
.all-block p{margin:0 0 10px;font-size:;color:#a94442;font-size:14px;}
.all-block .price{margin-top:8px;margin-bottom:13px;}
.all-block .price span{font-size:30px;color:#fc6628}
.all-block .price del{font-size:14px;color:#777}
hr{border:0;border-top:1px solid #eee}
/*促销*/
.sales{width:100%;overflow:hidden;height:46px;}
.sales span{float:left;font-size:14px;color:#333;margin-top:6px;}
.sales i{float:left;margin-top:4px;}
.sales ul{float:left;margin-top:2px;}
.sales ul li{float:left;font-size:12px;line-height:25px;}
.sales ul li em{background:#fc6628;height:16px;border-radius:2px;line-height:16px;color:#fff;text-align:center;font-size:12px;margin:0 7px;}
/*规格*/
.options{width:100%;overflow:hidden;height:46px;margin-bottom:20px;}
.options span{float:left;font-size:14px;color:#333;margin-top:6px;}
.options i{float:left;margin-top:4px;}
.options ul{float:left;margin-top:2px;margin-left:20px;}
.options ul li{float:left;font-size:12px;line-height:25px;color:#fc6628;border:1px solid #fc6628;}
/*购物车*/
.cartbuy{width:100%;overflow:hidden;height:50px;}
.cartbuy a{float:left;width:125px;height:50px;line-height:50px;;}
.cartbuy .buycar{text-align:center;color:#fff;background: #fc6628;font-size:18px;border-radius:3px;margin-right:15px;}
.cartbuy .buybtn{text-align:center;color:#fff;background: #D23211;font-size:18px;border-radius:3px;margin-right:15px;}
.cartbuy .buysao{margin-top:10px;width:90px;font-size:14px;text-align:center;height:25px;line-height:25px;color:#767676;}
.cartbuy .buysao .emw{width:20px;float:left;margin-top:2px;}
.cartbuy .buysao .emwimg{width:100px;height:0;position:absolute;left:274px;top:206px;}
.cartbuy .buysao .emwimg img{width:100%;height:100%}
.cartbuy .buylike .heart{float:left;margin-top:10px;margin-left: 10px;}
.cartbuy .buylike small{float:left;text-align: center;font-size:14px;color:#767676;}
.cartbuy .buylike em{color:#767676;}
#introduce{padding-bottom:50px;background:#f5f5f5;}
.product{width:1050px;min-height:1334px;margin:0 auto}
.product .hotgood{width:270px;height:1334px;background:#fff;float:left;}
.product .hotgood .hottitle{height:60px;line-height:60px;text-align:center;border-top:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;font-size:14px;color:#333}
.product .hotgood .hotlist{height:1242px;}
.product .hotgood .hotlist li{padding:0 15px 28px 15px;border-bottom: 1px solid #DFDFDF;}
.product .hotgood .hotlist .hot-img{width:180px;height:180px;background:red;margin:30px auto 0;}
.product .hotgood .hotlist .hot-img img{width:100%;height:100%}
.product .hotgood .hotlist .hot-name{margin-top:10px;text-align:center;font-size:14px;}
.product .hotgood .hotlist .hot-name a{color:#767676}
.product .hotgood .hotlist .hot-pri{margin-top:15px;text-align:center;color:#fc6822}
.product .pulgood{width:750px;float:left;}
.product .pulgood .navtab{margin-left:30px;width:750px;height:59px}
.product .pulgood .navtab li{padding:20px 0 ;float:left;display:block;font-size:14px;color:#333}
.product .pulgood .navtab li em{padding:0 40px;border-right:1px solid #767676;cursor:pointer;}
.product .pulgood .navtab li:hover{color:#fc6822;}
.product .pulgood .navtab .listactive{color:#fc6822;}
.product .pulgood .navtab li:last-child em{border:0;}
.tabcontent .tabpane{margin-left:30px;}
/*产品介绍*/
.tabcontent .desc{background:#fff;display:none;}
/*规格参数*/
.tabcontent .param{background:#fff;padding:20px 10px 40px 10px;display:none;}
.tabcontent .param .detaparam{width:100%;}
.tabcontent .param .detaparam .para-pic{height:30px;line-height: 30px;padding:0 15px;margin-bottom:10px;background:#f4f4f4;}
.tabcontent .param .detaparam .para-text{font-size:14px;}
.tabcontent .param .detaparam .para-text ul li{height:30px;line-height:30px;border-bottom:1px solid #DFDFDF;}
.tabcontent .param .detaparam .para-text ul li span{width:150px;padding-right:20px;height:30px;display:inline-block;text-align:right;}
.tabcontent .param .detaparam .para-text ul li:last-child{border:0}
/*用户评论*/
.tabcontent .comment{background:#fff;display:none;}
.tabcontent .comment .pinglun{font-size:14px;width:750px;height:181px;}
.comment .pinglun .ping-left{float:left;margin:30px 0 0 50px;}
.comment .pinglun .ping-left h3{font-size:40px;color:#fc6628;text-align:center;margin:20px 0 10px}
.comment .pinglun .ping-left h3 small{font-size:14px;}
.comment .pinglun .ping-left h6{color:#858585;font-size:14px;;text-align:center;margin-top:10px}
.comment .pinglun .precent{float:right;width:299px;margin-top: 50px;margin-right: 20px;height:130px;}
.comment .pinglun .precent ul{margin-bottom:10px;font-size:14px;}
.comment .pinglun .precent ul li{height:40px;}
.comment .pinglun .precent ul li span{float:left;}
.comment .pinglun .precent ul li .protext{margin-right:10px;}
.comment .pinglun .precent ul li .pronum{margin-left:10px;}
.comment .pinglun .precent ul li .progress{overflow:hidden;background: #f5f5f5;box-shadow: inset 0 1px 2px rgba(0,0,0,.1);border-radius: 2px;float:left;width:228px;height:20px;margin-bottom: 20px;}
.comment  .commetab{color:#333;font-size:14px;padding-bottom: 60px;padding-top:20px}
.comment  .commetab form input{display:none;}
.comment  .commetab form label{width: 20%;float: left;text-align: center;border-bottom: 1px solid #ccc;padding-left: 0;cursor:pointer;}
.comment  .commetab form label .inner{margin:10px 0;border-right:1px solid #ccc;}
.comment  .commetab form label:last-of-type .inner{border:0;}
.yhplcolor{color:#fc6628;border-bottom:1px solid #fc6628!important;}
/*产品咨询*/
.question{background:#fff;padding:19px;display:none;}
.question .quech{padding-left:160px;height:55px;border-bottom: 1px solid #ddd;font-size:14px;}
.question .quech .quegroup{float:left;}
.question .quech .quegroup input{width:300px;height: 34px;padding:0 12px;color: #555;background: #fff;border: 1px solid #ccc;}
.question .quech .quebtn{float:left;}
.question .quech .quebtn button{border-left:none;height:36px;border: 1px solid #ED651B;background-color: #ED651B;color: #fff;padding: 6px 12px;}
.question .quenum{margin:15px;color:#909090;font-size:14px;}
#introduce .product .pulgood .tabcontent .tabactive{display:block;}
